.wrapper {
  width: 100%;
}

.heading {
  width: 100%;
  font-size: 14px;
  padding: 8px 16px;
}

/*  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  line-height: 32px;
  padding: 0 10px;
  border-radius: 6px;
  width: fit-content;
}
.container:hover {
  cursor: pointer;
  background-color: var(--hover-bg-color);
}
.arrowIcon {
  width: 16px;
  height: 16px;
  object-fit: cover;
  opacity: 60%;
}
.text {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: grey;
  text-wrap: nowrap;
}

.paddingCont {
  width: 100%;
  padding: 0 16px 8px 16px;
  border-bottom: 2px solid var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .wrapper {
    min-height: 100vh;
  }
}
