.wrapper {
  width: 100%;
  max-width: var(--max-width);
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 555px;
    min-height: 100vh;
  }
}
