.nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.rightFloater,
.text {
  display: none;
}

@media screen and (min-width: 768px) {
  /* Tablet */
  .nav {
    width: 100%;
  }
  .profile {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
  }

  .burgerMenu {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .nav {
    width: fit-content;
  }
}
