.wrapper {
  opacity: 60%;
  height: 52px;
  width: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.wrapper:hover {
  opacity: 100%;
}
.active {
  opacity: 100%;
  border-bottom: 2px solid black;
  transition: 0.3s ease-in-out;
}

.navItem {
  width: 25px;
  height: 25px;
}

.title {
  display: none;
  user-select: none;
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .title {
    display: block;
  }
  .wrapper {
    width: 70px;
  }
}
