.wrapper {
  user-select: none;
  width: 100%;
  min-width: 225px;
  max-width: var(--max-width);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.showMoreBar {
  opacity: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.text {
  font-size: 14px;
}
.hoverContainer {
  border-radius: 6px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  gap: 10px;
}
.hoverContainer:hover {
  cursor: pointer;
  border-radius: 6px;
  background-color: var(--hover-bg-color);
}

@media screen and (min-width: 768px) {
  .wrapper {
  }
  .showMoreBar {
    display: none;
  }
}
