.wrapper {
  z-index: 102;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  background: white;
  border-radius: 10px;
  padding: 16px;
}

.upperContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}
.userInfoContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.xBtnContainer {
  user-select: none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.xBtnContainer:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.3);
}

.textArea {
  width: 100%;
  min-height: 200px;
  border: none;
  font-size: 18px;
}
.textArea:focus {
  outline: none;
}
.postBtnContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    min-width: 650px;
  }
  .userInfoContainer {
    align-items: center;
    flex-direction: row;
  }
}
