.upperContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 0 16px;
}
.heading {
  font-weight: 500;
}
.moreInfoIcon {
  height: 16px;
  width: 16px;
  opacity: 60%;
}

/*  */
.bottomContainer {
  padding: 0 16px 16px 16px;
}
.bottomTextWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  opacity: 80%;
}
.bottomText {
  font-size: 14px;
  opacity: 60%;
  font-weight: 500;
}
.bottomTextWrapper:hover {
  opacity: 100%;
}
.arrow {
  width: 13px;
  height: 10px;
  object-fit: cover;
}
