.main {
  min-height: 100vh;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 52px;
  padding: 25px;
}

/* .testDiv {
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
} */

/* Responsive */
@media screen and (min-width: 1024px) {
  .main {
    display: grid;
    grid-auto-flow: column;
    gap: 25px;
  }
}
/* @media screen and (min-width: 1024px) {
  .testDiv {
    display: block;
  }
} */
