.rightFloater,
.promotion,
.title {
  display: none;
}

/* Responsive */
@media screen and (min-width: 768px) {
  /* Tablet */
  .title {
    display: flex;
  }
  .rightFloater {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-left: 1px solid var(--secondary-color);
    padding-left: 15px;
  }
  .promotion {
    display: block;
    text-align: center;
    font-size: 12px;
    text-wrap: nowrap;
  }

  .forBussines {
    opacity: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .forBussines:hover {
    opacity: 100%;
    cursor: pointer;
  }
  .text {
    font-size: 12px;
    text-wrap: nowrap;
  }
}
