.wrapper {
  border: 2px solid var(--secondary-color);
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
}

.profile {
  display: none;
}
.title {
  display: none;
}

.modal {
  display: none;
}
.backdrop {
  display: none;
}

@media screen and (min-width: 768px) {
  .profile {
    user-select: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-right: 15px;
  }
  .title {
    opacity: 60%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    font-size: 12px;
  }
  .profile:hover .title {
    opacity: 100%;
  }
  .modal {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
  }
}
