.searchContainer {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.searchContainer:hover .searchLogo {
  opacity: 100%;
}
.searchContainer:hover .title {
  opacity: 100%;
}

.searchLogoContainer {
  cursor: pointer;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.title {
  opacity: 60%;
  display: none;
  user-select: none;
  font-size: 12px;
}
.searchLogo {
  opacity: 60%;
  width: 25px;
  height: 25px;
}

.floatingInput {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 100%;
  padding: 0 25px;
  gap: 15px;
  z-index: 101;
}
.input {
  opacity: 60%;
  display: block;
  height: 100%;
  font-size: 14px;
  height: 35px;
  padding: 2px 18px 2px 50px;
  background-color: #e2e9ef;
  border: none;
  border-radius: 6px;
  background-image: url("../../../../../public/svg/search.svg");
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 18px;
  transition: width 0.3s ease;
  width: 200px;
}
.input:focus {
  opacity: 100%;
  width: 100%;
}

.staticInput {
  display: none;
}

@media screen and (min-width: 768px) {
  .title {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .searchLogoContainer {
    display: none;
  }
  .searchContainer {
    justify-content: flex-start;
    width: 100%;
    padding-right: 15px;
  }
  .staticInput {
    display: flex;
    width: 100%;
  }
  .floatingInput {
    display: none;
  }
}
