.burgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 60%;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border-radius: 50px;
}
.burgerMenu:hover {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .burgerMenu {
    display: none;
  }
}
